In [51]:
import pandas as pd
import numpy as np

In [52]:

df=pd.read_csv("../Data/good_reads_final_1.csv")

In [53]:
df.head()

,Unnamed: 0,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,...,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
0,0,4.01,female,"historical-fiction,",74489,Victoria Thompson,/author/show/74489.Victoria_Thompson,74399,6268,United States,...,https://www.goodreads.com/book/show/686717.Mur...,686717,Murder on St. Mark's Place,Mystery,Historical,5260,375,277,2000,3230
1,1,4.15,male,"literature-fiction,mystery-thrillers,",706255,Stieg Larsson,/author/show/706255.Stieg_Larsson,3726435,142704,Sweden,...,https://www.goodreads.com/book/show/2429135.Th...,2429135,The Girl with the Dragon Tattoo,Fiction,Mystery,2229163,65227,465,August 2005,3062
2,2,4.00,female,"romance,",5618190,Mimi Jean Pamfiloff,/author/show/5618190.Mimi_Jean_Pamfiloff,76496,7975,United States,...,https://www.goodreads.com/book/show/27833684-t...,27833684,Tailored for Trouble,Romance,Contemporary,2151,391,354,2016,4585
3,3,3.88,male,"fiction,memoir,",37871,José Donoso,/author/show/37871.Jos_Donoso,5522,489,Chile,...,https://www.goodreads.com/book/show/382975.The...,382975,The Obscene Bird of Night,Fiction,Magical Realism,1844,173,438,1970,1533
4,4,4.10,female,"young-adult,fantasy,",36122,Patricia C. Wrede,/author/show/36122.Patricia_C_Wrede,291013,13453,United States,...,https://www.goodreads.com/book/show/64207.Sorc...,64207,Sorcery & Cecelia: or The Enchanted Choc...,Fantasy,Young Adult,17051,1890,326,April 15th 1988,2105

In [54]:
#change datatypes
df.dtypes

Unnamed: 0                 int64
author_average_rating    float64
author_gender             object
author_genres             object
author_id                  int64
author_name               object
author_page_url           object
author_rating_count        int64
author_review_count        int64
birthplace                object
book_average_rating      float64
book_fullurl              object
book_id                   object
book_title                object
genre_1                   object
genre_2                   object
num_ratings                int64
num_reviews                int64
pages                     object
publish_date              object
score                      int64
dtype: object

In [55]:
#remove nulls

In [56]:
#rename columns

In [57]:
df["author_name"]=df["author_name"].str.replace("\n","")

In [58]:
df.head()

,Unnamed: 0,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,...,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
0,0,4.01,female,"historical-fiction,",74489,Victoria Thompson,/author/show/74489.Victoria_Thompson,74399,6268,United States,...,https://www.goodreads.com/book/show/686717.Mur...,686717,Murder on St. Mark's Place,Mystery,Historical,5260,375,277,2000,3230
1,1,4.15,male,"literature-fiction,mystery-thrillers,",706255,Stieg Larsson,/author/show/706255.Stieg_Larsson,3726435,142704,Sweden,...,https://www.goodreads.com/book/show/2429135.Th...,2429135,The Girl with the Dragon Tattoo,Fiction,Mystery,2229163,65227,465,August 2005,3062
2,2,4.00,female,"romance,",5618190,Mimi Jean Pamfiloff,/author/show/5618190.Mimi_Jean_Pamfiloff,76496,7975,United States,...,https://www.goodreads.com/book/show/27833684-t...,27833684,Tailored for Trouble,Romance,Contemporary,2151,391,354,2016,4585
3,3,3.88,male,"fiction,memoir,",37871,José Donoso,/author/show/37871.Jos_Donoso,5522,489,Chile,...,https://www.goodreads.com/book/show/382975.The...,382975,The Obscene Bird of Night,Fiction,Magical Realism,1844,173,438,1970,1533
4,4,4.10,female,"young-adult,fantasy,",36122,Patricia C. Wrede,/author/show/36122.Patricia_C_Wrede,291013,13453,United States,...,https://www.goodreads.com/book/show/64207.Sorc...,64207,Sorcery & Cecelia: or The Enchanted Choc...,Fantasy,Young Adult,17051,1890,326,April 15th 1988,2105

In [59]:
df["birthplace"]=df["birthplace"].str.replace("\n","")

In [60]:
df["book_title"]=df["book_title"].str.replace("\n","")

In [61]:
df.head()

,Unnamed: 0,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,...,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
0,0,4.01,female,"historical-fiction,",74489,Victoria Thompson,/author/show/74489.Victoria_Thompson,74399,6268,United States,...,https://www.goodreads.com/book/show/686717.Mur...,686717,Murder on St. Mark's Place,Mystery,Historical,5260,375,277,2000,3230
1,1,4.15,male,"literature-fiction,mystery-thrillers,",706255,Stieg Larsson,/author/show/706255.Stieg_Larsson,3726435,142704,Sweden,...,https://www.goodreads.com/book/show/2429135.Th...,2429135,The Girl with the Dragon Tattoo,Fiction,Mystery,2229163,65227,465,August 2005,3062
2,2,4.00,female,"romance,",5618190,Mimi Jean Pamfiloff,/author/show/5618190.Mimi_Jean_Pamfiloff,76496,7975,United States,...,https://www.goodreads.com/book/show/27833684-t...,27833684,Tailored for Trouble,Romance,Contemporary,2151,391,354,2016,4585
3,3,3.88,male,"fiction,memoir,",37871,José Donoso,/author/show/37871.Jos_Donoso,5522,489,Chile,...,https://www.goodreads.com/book/show/382975.The...,382975,The Obscene Bird of Night,Fiction,Magical Realism,1844,173,438,1970,1533
4,4,4.10,female,"young-adult,fantasy,",36122,Patricia C. Wrede,/author/show/36122.Patricia_C_Wrede,291013,13453,United States,...,https://www.goodreads.com/book/show/64207.Sorc...,64207,Sorcery & Cecelia: or The Enchanted Choc...,Fantasy,Young Adult,17051,1890,326,April 15th 1988,2105

In [62]:
df["publish_date"]=df["publish_date"].str.split().tolist()[-1]

ValueError: Length of values does not match length of index

In [ ]:
df.to_csv("../Data/good_reads_final_1.csv")

In [63]:
df[["author_rating_count"]].describe()

       author_rating_count
count         2.289100e+04
mean          1.720319e+05
std           6.546902e+05
min           6.000000e+00
25%           4.324500e+03
50%           2.463500e+04
75%           1.113370e+05
max           2.111732e+07

In [ ]:
#max=21.117.318 =2.111732e+07? (2.111732 * 10**7)
#min=6=6.000000e+00
#rows: 2.289100e+04 = 22.892

In [64]:
df.count

<bound method DataFrame.count of        Unnamed: 0  author_average_rating author_gender  \
0               0                   4.01        female
1               1                   4.15          male
2               2                   4.00        female
3               3                   3.88          male
4               4                   4.10        female
...           ...                    ...           ...
22886       22886                   3.94        female
22887       22887                   4.29          male
22888       22888                   4.00        female
22889       22889                   4.20        female
22890       22890                   4.07          male

                               author_genres  author_id          author_name  \
0                        historical-fiction,      74489    Victoria Thompson
1      literature-fiction,mystery-thrillers,     706255        Stieg Larsson
2                                   romance,    5618190  Mimi Jean Pamfiloff
3                            fiction,memoir,      37871          José Donoso
4                       young-adult,fantasy,      36122    Patricia C. Wrede
...                                      ...        ...                  ...
22886                      humor-and-comedy,     108007       Dakota Cassidy
22887                              suspense,    7063660      Joanne Jaytanie
22888                               romance,    6543639      Krystal Shannan
22889                            paranormal,    5246010          Bryce Evans
22890                    paranormal-romance,    5266193     Candice Stauffer

                                author_page_url  author_rating_count  \
0          /author/show/74489.Victoria_Thompson                74399
1             /author/show/706255.Stieg_Larsson              3726435
2      /author/show/5618190.Mimi_Jean_Pamfiloff                76496
3                 /author/show/37871.Jos_Donoso                 5522
4           /author/show/36122.Patricia_C_Wrede               291013
...                                         ...                  ...
22886        /author/show/108007.Dakota_Cassidy                52944
22887      /author/show/7063660.Joanne_Jaytanie                  902
22888      /author/show/6543639.Krystal_Shannan                15626
22889          /author/show/5246010.Bryce_Evans                 4689
22890     /author/show/5266193.Candice_Stauffer                 1936

       author_review_count          birthplace  ...  \
0                     6268   United States      ...
1                   142704          Sweden      ...
2                     7975     United States    ...
3                      489           Chile      ...
4                    13453   United States      ...
...                    ...                 ...  ...
22886                 4558                      ...
22887                  428   United States      ...
22888                 3530     United States    ...
22889                  828                      ...
22890                  293     United States    ...

                                            book_fullurl   book_id  \
0      https://www.goodreads.com/book/show/686717.Mur...    686717
1      https://www.goodreads.com/book/show/2429135.Th...   2429135
2      https://www.goodreads.com/book/show/27833684-t...  27833684
3      https://www.goodreads.com/book/show/382975.The...    382975
4      https://www.goodreads.com/book/show/64207.Sorc...     64207
...                                                  ...       ...
22886  https://www.goodreads.com/book/show/24614174-g...  24614174
22887  https://www.goodreads.com/book/show/31429117-p...  31429117
22888  https://www.goodreads.com/book/show/35892811-m...  35892811
22889  https://www.goodreads.com/book/show/17187320-t...  17187320
22890  https://www.goodreads.com/book/show/20801965-v...  20801965

                                              book_title  genre_1  \
0                             Murder on St. Mark's Place  Mystery
1                        The Girl with the Dragon Tattoo  Fiction
2                                   Tailored for Trouble  Romance
3                              The Obscene Bird of Night  Fiction
4            Sorcery & Cecelia: or The Enchanted Choc...  Fantasy
...                                                  ...      ...
22886                                   Gotta Have Faith  Fantasy
22887                                   Payton's Pursuit  Romance
22888                                  My Viking Vampire  Fantasy
22889                                        The Trinity  Fantasy
22890                        Volatile Breath of Darkness  Fantasy

                genre_2 num_ratings  num_reviews  pages        publish_date  \
0            Historical        5260          375    277                2000
1               Mystery     2229163        65227    465         August 2005
2          Contemporary        2151          391    354                2016
3       Magical Realism        1844          173    438                1970
4           Young Adult       17051         1890    326     April 15th 1988
...                 ...         ...          ...    ...                 ...
22886           Romance         430           33     72                2015
22887           Fantasy          82           57    342                2014
22888        Paranormal        2698          375    237    January 1st 2014
22889        Paranormal         356           38    222  December 28th 2012
22890  See top shelves…          88           14    272                2014

      score
0      3230
1      3062
2      4585
3      1533
4      2105
...     ...
22886  1215
22887  1321
22888  1679
22889  1897
22890  3250

[22891 rows x 21 columns]>

In [66]:
            
df = df.drop(df[df.author_rating_count < 100000].index)

In [67]:
df.count

<bound method DataFrame.count of        Unnamed: 0  author_average_rating author_gender  \
1               1                   4.15          male
4               4                   4.10        female
6               6                   4.16        female
7               7                   3.94        female
9               9                   4.08        female
...           ...                    ...           ...
22710       22710                   4.30        female
22794       22794                   3.89        female
22860       22860                   4.33        female
22861       22861                   4.26          male
22875       22875                   4.02        female

                               author_genres  author_id        author_name  \
1      literature-fiction,mystery-thrillers,     706255      Stieg Larsson
4                       young-adult,fantasy,      36122  Patricia C. Wrede
6                                   romance,    4833990       Jillian Dodd
7                                nonfiction,       7956         Mary Roach
9                               young-adult,     274533     Simone Elkeles
...                                      ...        ...                ...
22710                           young-adult,      80760       Siobhan Dowd
22794                               romance,     167400     Stephanie Bond
22860                 religion-spirituality,       8352        Joyce Meyer
22861                            nonfiction,     287960       Randy Pausch
22875                               romance,    1709139         Celia Kyle

                           author_page_url  author_rating_count  \
1        /author/show/706255.Stieg_Larsson              3726435
4      /author/show/36122.Patricia_C_Wrede               291013
6        /author/show/4833990.Jillian_Dodd               110522
7             /author/show/7956.Mary_Roach               321197
9       /author/show/274533.Simone_Elkeles               481114
...                                    ...                  ...
22710      /author/show/80760.Siobhan_Dowd               150797
22794   /author/show/167400.Stephanie_Bond               107013
22860        /author/show/8352.Joyce_Meyer               110831
22861     /author/show/287960.Randy_Pausch               273248
22875      /author/show/1709139.Celia_Kyle               115948

       author_review_count            birthplace  ...  \
1                   142704            Sweden      ...
4                    13453     United States      ...
6                     9451                        ...
7                    29747       United States    ...
9                    25166       United States    ...
...                    ...                   ...  ...
22710                25401    United Kingdom      ...
22794                 6445       United States    ...
22860                 5807     United States      ...
22861                16050     United States      ...
22875                 9573               Italy    ...

                                            book_fullurl   book_id  \
1      https://www.goodreads.com/book/show/2429135.Th...   2429135
4      https://www.goodreads.com/book/show/64207.Sorc...     64207
6      https://www.goodreads.com/book/show/34804503-s...  34804503
7       https://www.goodreads.com/book/show/5981308-bonk   5981308
9      https://www.goodreads.com/book/show/544424.Lea...    544424
...                                                  ...       ...
22710  https://www.goodreads.com/book/show/2856645-bo...   2856645
22794  https://www.goodreads.com/book/show/6072105-5-...   6072105
22860  https://www.goodreads.com/book/show/1604003.Ne...   1604003
22861  https://www.goodreads.com/book/show/40611510-t...  40611510
22875  https://www.goodreads.com/book/show/23206345-r...  23206345

                                              book_title      genre_1  \
1                        The Girl with the Dragon Tattoo      Fiction
4            Sorcery & Cecelia: or The Enchanted Choc...      Fantasy
6                                               Stalk Me  Young Adult
7            Bonk: The Curious Coupling of Science an...   Nonfiction
9                                       Leaving Paradise  Young Adult
...                                                  ...          ...
22710                                          Bog Child  Young Adult
22794                                5 Bodies to Die For      Mystery
22860        New Day, New You: 366 Devotions for Enjo...    Christian
22861                                   The Last Lecture   Nonfiction
22875                                            Rebecca      Fantasy

             genre_2 num_ratings  num_reviews  pages         publish_date  \
1            Mystery     2229163        65227    465          August 2005
4        Young Adult       17051         1890    326      April 15th 1988
6            Romance       11684         1107    327     August 20th 2012
7            Science       45963         4268    319                 2008
9            Romance       40093         2375    303       April 1st 2007
...              ...         ...          ...    ...                  ...
22710     Historical        3464          524    321    February 7th 2008
22794        Romance        5316          165    320      April 21st 2009
22860   Spirituality         411           29    384    October 18th 2007
22861  Autobiography      273001        16035    206                 2008
22875        Erotica        1686           82     87  September 28th 2014

      score
1      3062
4      2105
6      2396
7      2054
9      1994
...     ...
22710   389
22794  1570
22860   669
22861   763
22875   566

[6061 rows x 21 columns]>

In [68]:
df = df.drop(df[df.author_rating_count < 200000].index)

In [69]:
df.count

<bound method DataFrame.count of        Unnamed: 0  author_average_rating author_gender  \
1               1                   4.15          male
4               4                   4.10        female
7               7                   3.94        female
9               9                   4.08        female
10             10                   4.39          male
...           ...                    ...           ...
22228       22228                   3.76        female
22244       22244                   4.01          male
22458       22458                   3.86        female
22697       22697                   4.11          male
22861       22861                   4.26          male

                               author_genres  author_id        author_name  \
1      literature-fiction,mystery-thrillers,     706255      Stieg Larsson
4                       young-adult,fantasy,      36122  Patricia C. Wrede
7                                nonfiction,       7956         Mary Roach
9                               young-adult,     274533     Simone Elkeles
10                  science-fiction-fantasy,      38550  Brandon Sanderson
...                                      ...        ...                ...
22228                           young-adult,       4605      Lisi Harrison
22244               science-fiction-fantasy,      13681        Peter David
22458                          contemporary,       9219   Adriana Trigiani
22697                            nonfiction,       2121     Michael Pollan
22861                            nonfiction,     287960       Randy Pausch

                            author_page_url  author_rating_count  \
1         /author/show/706255.Stieg_Larsson              3726435
4       /author/show/36122.Patricia_C_Wrede               291013
7              /author/show/7956.Mary_Roach               321197
9        /author/show/274533.Simone_Elkeles               481114
10     /author/show/38550.Brandon_Sanderson              2613993
...                                     ...                  ...
22228       /author/show/4605.Lisi_Harrison               237840
22244        /author/show/13681.Peter_David               258207
22458    /author/show/9219.Adriana_Trigiani               244202
22697      /author/show/2121.Michael_Pollan               384377
22861      /author/show/287960.Randy_Pausch               273248

       author_review_count            birthplace  ...  \
1                   142704            Sweden      ...
4                    13453     United States      ...
7                    29747       United States    ...
9                    25166       United States    ...
10                  170695       United States    ...
...                    ...                   ...  ...
22228                12559              Canada    ...
22244                11773     United States      ...
22458                23795       United States    ...
22697                31921       United States    ...
22861                16050     United States      ...

                                            book_fullurl   book_id  \
1      https://www.goodreads.com/book/show/2429135.Th...   2429135
4      https://www.goodreads.com/book/show/64207.Sorc...     64207
7       https://www.goodreads.com/book/show/5981308-bonk   5981308
9      https://www.goodreads.com/book/show/544424.Lea...    544424
10     https://www.goodreads.com/book/show/15704459-f...  15704459
...                                                  ...       ...
22228  https://www.goodreads.com/book/show/890143.The...    890143
22244  https://www.goodreads.com/book/show/366033.Kni...    366033
22458  https://www.goodreads.com/book/show/58823.Home...     58823
22697  https://www.goodreads.com/book/show/3109.The_O...      3109
22861  https://www.goodreads.com/book/show/40611510-t...  40611510

                                              book_title      genre_1  \
1                        The Girl with the Dragon Tattoo      Fiction
4            Sorcery & Cecelia: or The Enchanted Choc...      Fantasy
7            Bonk: The Curious Coupling of Science an...   Nonfiction
9                                       Leaving Paradise  Young Adult
10                                             Firefight      Fantasy
...                                                  ...          ...
22228                                         The Clique  Young Adult
22244                                        Knight Life      Fantasy
22458                              Home to Big Stone Gap      Fiction
22697        The Omnivore's Dilemma: A Natural Histor...   Nonfiction
22861                                   The Last Lecture   Nonfiction

                 genre_2 num_ratings  num_reviews  pages     publish_date  \
1                Mystery     2229163        65227    465      August 2005
4            Young Adult       17051         1890    326  April 15th 1988
7                Science       45963         4268    319             2008
9                Romance       40093         2375    303   April 1st 2007
10           Young Adult       65071         5161    416             2015
...                  ...         ...          ...    ...              ...
22228  Realistic Fiction       29276         2436    220     May 1st 2004
22244            Fiction         892           62    256   April 1st 1987
22458     Womens Fiction        9405          682    305             2006
22697     Food and Drink      163975        12798    450               by
22861      Autobiography      273001        16035    206             2008

      score
1      3062
4      2105
7      2054
9      1994
10     4347
...     ...
22228   552
22244   347
22458   772
22697  2550
22861   763

[3792 rows x 21 columns]>

In [70]:
df = df.drop(df[df.author_average_rating < 4].index)

In [71]:
df.count

<bound method DataFrame.count of        Unnamed: 0  author_average_rating author_gender  \
1               1                   4.15          male
4               4                   4.10        female
9               9                   4.08        female
10             10                   4.39          male
12             12                   4.03        female
...           ...                    ...           ...
22155       22155                   4.43          male
22183       22183                   4.45        female
22244       22244                   4.01          male
22697       22697                   4.11          male
22861       22861                   4.26          male

                               author_genres  author_id        author_name  \
1      literature-fiction,mystery-thrillers,     706255      Stieg Larsson
4                       young-adult,fantasy,      36122  Patricia C. Wrede
9                               young-adult,     274533     Simone Elkeles
10                  science-fiction-fantasy,      38550  Brandon Sanderson
12               romance,literature-fiction,      27847       Lisa Kleypas
...                                      ...        ...                ...
22155                                 manga,    5365396     Hajime Isayama
22183              manga,historical-fiction,    2988406        Yana Toboso
22244               science-fiction-fantasy,      13681        Peter David
22697                            nonfiction,       2121     Michael Pollan
22861                            nonfiction,     287960       Randy Pausch

                            author_page_url  author_rating_count  \
1         /author/show/706255.Stieg_Larsson              3726435
4       /author/show/36122.Patricia_C_Wrede               291013
9        /author/show/274533.Simone_Elkeles               481114
10     /author/show/38550.Brandon_Sanderson              2613993
12          /author/show/27847.Lisa_Kleypas               800760
...                                     ...                  ...
22155   /author/show/5365396.Hajime_Isayama               297154
22183      /author/show/2988406.Yana_Toboso               234809
22244        /author/show/13681.Peter_David               258207
22697      /author/show/2121.Michael_Pollan               384377
22861      /author/show/287960.Randy_Pausch               273248

       author_review_count            birthplace  ...  \
1                   142704            Sweden      ...
4                    13453     United States      ...
9                    25166       United States    ...
10                  170695       United States    ...
12                   50323       United States    ...
...                    ...                   ...  ...
22155                 9213             Japan      ...
22183                 4989             Japan      ...
22244                11773     United States      ...
22697                31921       United States    ...
22861                16050     United States      ...

                                            book_fullurl   book_id  \
1      https://www.goodreads.com/book/show/2429135.Th...   2429135
4      https://www.goodreads.com/book/show/64207.Sorc...     64207
9      https://www.goodreads.com/book/show/544424.Lea...    544424
10     https://www.goodreads.com/book/show/15704459-f...  15704459
12     https://www.goodreads.com/book/show/114166.Dev...    114166
...                                                  ...       ...
22155  https://www.goodreads.com/book/show/19138879-a...  19138879
22183  https://www.goodreads.com/book/show/6690979-bl...   6690979
22244  https://www.goodreads.com/book/show/366033.Kni...    366033
22697  https://www.goodreads.com/book/show/3109.The_O...      3109
22861  https://www.goodreads.com/book/show/40611510-t...  40611510

                                              book_title         genre_1  \
1                        The Girl with the Dragon Tattoo         Fiction
4            Sorcery & Cecelia: or The Enchanted Choc...         Fantasy
9                                       Leaving Paradise     Young Adult
10                                             Firefight         Fantasy
12                                       Devil in Winter         Romance
...                                                  ...             ...
22155             Attack on Titan: No Regrets, Volume 01  Sequential Art
22183                               Black Butler, Vol. 1  Sequential Art
22244                                        Knight Life         Fantasy
22697        The Omnivore's Dilemma: A Natural Histor...      Nonfiction
22861                                   The Last Lecture      Nonfiction

              genre_2 num_ratings  num_reviews  pages        publish_date  \
1             Mystery     2229163        65227    465         August 2005
4         Young Adult       17051         1890    326     April 15th 1988
9             Romance       40093         2375    303      April 1st 2007
10        Young Adult       65071         5161    416                2015
12            Romance       48639         3046    368                2006
...               ...         ...          ...    ...                 ...
22155  Sequential Art       10035          238    192      April 9th 2014
22183         Fantasy       87932         1252    192  February 27th 2007
22244         Fiction         892           62    256      April 1st 1987
22697  Food and Drink      163975        12798    450                  by
22861   Autobiography      273001        16035    206                2008

      score
1      3062
4      2105
9      1994
10     4347
12     7874
...     ...
22155  1200
22183  7627
22244   347
22697  2550
22861   763

[2163 rows x 21 columns]>

In [74]:
df = df.drop(df[df.author_average_rating < 4].index)

In [73]:
df.count

<bound method DataFrame.count of        Unnamed: 0  author_average_rating author_gender  \
544           544                   4.55        female
1292         1292                   4.55        female
1968         1968                   4.67          male
3898         3898                   4.55        female
4088         4088                   4.67          male
4819         4819                   4.55        female
7268         7268                   4.67          male
8846         8846                   4.55        female
12199       12199                   4.67          male
14285       14285                   4.67          male
17050       17050                   4.55        female
19328       19328                   4.55        female

                     author_genres  author_id     author_name  \
544    manga,fantasy,contemporary,    4698899  Hiromu Arakawa
1292                  young-adult,   15049422    Angie Thomas
1968                       comics,      13778  Bill Watterson
3898   manga,fantasy,contemporary,    4698899  Hiromu Arakawa
4088                       comics,      13778  Bill Watterson
4819                  young-adult,   15049422    Angie Thomas
7268                       comics,      13778  Bill Watterson
8846                  young-adult,   15049422    Angie Thomas
12199                      comics,      13778  Bill Watterson
14285                      comics,      13778  Bill Watterson
17050                 young-adult,   15049422    Angie Thomas
19328  manga,fantasy,contemporary,    4698899  Hiromu Arakawa

                           author_page_url  author_rating_count  \
544    /author/show/4698899.Hiromu_Arakawa               352593
1292    /author/show/15049422.Angie_Thomas               256175
1968     /author/show/13778.Bill_Watterson               540610
3898   /author/show/4698899.Hiromu_Arakawa               352655
4088     /author/show/13778.Bill_Watterson               540610
4819    /author/show/15049422.Angie_Thomas               256540
7268     /author/show/13778.Bill_Watterson               540654
8846    /author/show/15049422.Angie_Thomas               256801
12199    /author/show/13778.Bill_Watterson               540654
14285    /author/show/13778.Bill_Watterson               540791
17050   /author/show/15049422.Angie_Thomas               257786
19328  /author/show/4698899.Hiromu_Arakawa               352811

       author_review_count          birthplace  ...  \
544                   6723           Japan      ...
1292                 38566     United States    ...
1968                  6720   United States      ...
3898                  6725           Japan      ...
4088                  6720   United States      ...
4819                 38595     United States    ...
7268                  6720   United States      ...
8846                 38621     United States    ...
12199                 6720   United States      ...
14285                 6724   United States      ...
17050                38734     United States    ...
19328                 6729           Japan      ...

                                            book_fullurl   book_id  \
544    https://www.goodreads.com/book/show/870.Fullme...       870
1292   https://www.goodreads.com/book/show/35068618-o...  35068618
1968   https://www.goodreads.com/book/show/77727.Calv...     77727
3898   https://www.goodreads.com/book/show/870.Fullme...       870
4088   https://www.goodreads.com/book/show/24816.Homi...     24816
4819   https://www.goodreads.com/book/show/32075671-t...  32075671
7268   https://www.goodreads.com/book/show/24812.The_...     24812
8846   https://www.goodreads.com/book/show/35068618-o...  35068618
12199  https://www.goodreads.com/book/show/24816.Homi...     24816
14285  https://www.goodreads.com/book/show/70490.Some...     70490
17050  https://www.goodreads.com/book/show/32075671-t...  32075671
19328  https://www.goodreads.com/book/show/870.Fullme...       870

                                      book_title         genre_1  \
544                  Fullmetal Alchemist, Vol. 1  Sequential Art
1292                              On the Come Up     Young Adult
1968                           Calvin and Hobbes  Sequential Art
3898                 Fullmetal Alchemist, Vol. 1  Sequential Art
4088                 Homicidal Psycho Jungle Cat  Sequential Art
4819                             The Hate U Give     Young Adult
7268              The Complete Calvin and Hobbes  Sequential Art
8846                              On the Come Up     Young Adult
12199                Homicidal Psycho Jungle Cat  Sequential Art
14285        Something Under the Bed is Drooling  Sequential Art
17050                            The Hate U Give     Young Adult
19328                Fullmetal Alchemist, Vol. 1  Sequential Art

              genre_2 num_ratings  num_reviews  pages        publish_date  \
544    Sequential Art      103366         1365    192    January 1st 2002
1292     Contemporary         472          163    464                 5th
1968            Humor      131636          802    128                  by
3898   Sequential Art      103376         1366    192    January 1st 2002
4088            Humor       16628          311    176  September 1st 1994
4819          Fiction      255040        38201    444                2017
7268            Humor       32156          946   1456                2005
8846     Contemporary         478          165    464                 5th
12199           Humor       16628          311    176  September 1st 1994
14285           Humor       11801          249    128                  by
17050         Fiction      256212        38328    444                2017
19328  Sequential Art      103393         1367    192    January 1st 2002

       score
544    10261
1292    4755
1968    8995
3898   86365
4088    3025
4819    1331
7268    3199
8846   10515
12199   1981
14285    432
17050  11375
19328   1126

[12 rows x 21 columns]>